<div class="row vh-100 mt-5">
  <div class="col  mt-5">
    <div class="header d-flex justify-content-center">
      <p class="h1">
        Example Dynamic Form
      </p>
    </div>

    <section>
      <div class="col-12 mt-5">
        <p class="h3 mb-1">Values</p>
        {{registrationForm.value | json}}
      </div>

      <div class="col-12 mt-5 mb-5">
        <p class="h3 mb-1">Status</p>
        {{registrationForm.status}}
      </div>

      <form class="mt-5" [formGroup]="registrationForm" (ngSubmit)="showStatus()">
        <div class="row form">
          <div class="col-12" *ngFor="let control of dynamicFormArray">

            <div [ngSwitch]="control.Type">


              <!-- inpurts simples -->
              <div *ngSwitchCase="'input_name_custon'">
               <app-name-input
               (parentFun)="parentFun()"
               [formControlName]="control.ID">
               </app-name-input>
              </div>

              <!-- radio buttons -->
              <div *ngSwitchCase="'input_radio_custon'">
                  <app-gender-input></app-gender-input>
              </div>

              <!-- datepickers -->
              <div *ngSwitchCase="'input_date_custon'">
                <app-date-input></app-date-input>
              </div>
              <!-- selects -->

              <div *ngSwitchCase="'select'">
                <app-city-input></app-city-input>
              </div>

              <div *ngSwitchCase="'custom'">
                <div class="col-md-6 mt-2">
                  <app-custom-input
                    [formControlName]="control.ID"
                    (parentFun)="parentFun()">
                  </app-custom-input>
                </div>
              </div>

            </div> <!-- fin ngswitch -->
          </div>
          <!-- custon -->
        </div>

        <div class="mt-5 mb-5">
          <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
